*{
    background-image: url(https://whatpixel.com/images/2017/05/00-javalogo.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    margin: 2%;
}
p{
    text-align: justify;
    color: white;
    margin: 3%;
  font-weight: bold;
  padding: 20px;
  font-family: 'Courier New', Courier, monospace;
}
iframe{
    width: 90%;
    padding: 0;
    margin-left: 5%;
    height: 400px;
    position: absolute;
}
img {
    opacity: 0.5;
}